{% extends "admin/index.html" %}

{% block content %}
{{ block.super }}

<!-- 新增流量监控管理入口 -->
<div class="app-scanner module">
    <table>
        <caption>
            <a href="{% url 'traffic_monitor_admin' %}" class="section" title="流量监控管理">流量监控管理</a>
        </caption>
        <tr>
            <th scope="row">
                <a href="{% url 'traffic_monitor_admin' %}" title="查看和管理网络流量监控">流量监控面板</a>
            </th>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
{% endblock %}